{% extends "partial/base.html.twig" %}


{% block content %}


    <main id="divaddArticle"> 

        
        <h2 id="addArticle">Add an Article</h2>

    
        {% if isRequestOk %} 
        <p> Article has been saved </p>
        {% endif %}

        <form method="post">
                <label>
                    Title
                    <input type="text" name="title">
                </label>
                <label>
                    Content
                    <input type="text" name="content">
                </label>
                <input type="submit" value="submit">
        </form>

    </main>
<!-- <form>
    <input name="_method" type="hidden" value="DELETE">

    <button type="submit" class="btn btn-danger btn-delete" id="borrar_datos">
    <span class="btn-txtb">Delete record</span>
    </button>

</form> -->


{% endblock %}   

 