<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon super blog</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>
    <header> 

        <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF-O_bVY_z_Ch26eHIjWxy3RZE3UbQaBDIKg&usqp=CAU" alt="logo">

        <h1>Mon super blog </h1>

            <nav>
                <ul> 
                    <li>Home</li>
                    <li>Blog</li>
                    <li>联系我</li>
                    <li><a href="http://localhost/piscine-php-tpblog/Views/index.php">Home</a></li>
                    <li><a href="http://localhost/piscine-php-tpblog/Views/contact.php">Contact</a></li>
                    <li><a href="http://localhost/piscine-php-tpblog/Views/reviews.php">Reviews</a></li>
                    <li><a href="http://localhost/piscine-php-tpblog/Views/categories.php">Categories</a></li>
                    <li><a href="http://localhost/piscine-php-tpblog/Views/article.php">Article</a></li>

                </ul>
            </nav>
    </header>


{% block content%}
{% endblock %}


    <aside>
        
        <div id="page">
            <nav id="sidebar">
                <ul>
                    <li><a href="tonlien.php">Lundi de 8h à 17h</a> </li>
                    <li><a href="tonlien.php">Mardi de 8h à 17h</a></li>
                    <li><a href="tonlien.php">Mercredi de 8h à 17h</a> </li>
                    <li><a href="tonlien.php">Jeudi de 8h à 17h</a> </li>
                    <li><a href="tonlien.php">Vendredi de 8h à 17h</a></li>
                    <li><a href="tonlien.php">Samedi de 8h à 17h</a> </li>
                    <li><a href="tonlien.php">Dimanche de 8h à 12h</a></li>
                </ul>
            </nav>

    </aside>



    <footer>
        <img src= "https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABSkAKbVz0KitMq3vhFaixd82J0390f9y8U_irS9UGn_Izip94JOreLPKzzTBcJT2fj-O6ovJrRqcHtwiUl9Iv8qFIafkyhlNwDPAXq7NyaiK.png?r=7ab" alt="logo">
        <p>&copy; 2024 Company Name. All rights reserved.</p>
        <i class="fa-solid fa-torii-gate"></i>
    </footer>
    <!-- https://imgsrc.cineserie.com/2022/02/fotojet-3.jpg?ver=1 -->

</body>
</html>
