

<footer>
<img src= "https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABSkAKbVz0KitMq3vhFaixd82J0390f9y8U_irS9UGn_Izip94JOreLPKzzTBcJT2fj-O6ovJrRqcHtwiUl9Iv8qFIafkyhlNwDPAXq7NyaiK.png?r=7ab" alt="logo">
<p>&copy; 2024 Company Name. All rights reserved.</p>
<i class="fa-solid fa-torii-gate"></i>
</footer>
<!-- https://imgsrc.cineserie.com/2022/02/fotojet-3.jpg?ver=1 -->